html{
  background-image: url(/images/background-GRINF.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba(245, 231, 231, 0.8);

  height: 60vh;
  width: 30vw;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.form{
  display: flex;
  flex-direction: column;
  width: 20vw;
}

.data{
  width: 15vw;
}

.actions{
  display: flex;
  flex-direction: column;
  align-items: center;
}


#password,#username,#new_password{
  padding: 8px 20px;
  margin: 15px 0;
  border-radius: 20px;
  outline: none;
  border: none;
  height: 5vh;
  width: 100%;
  background: #fffefe;
}

#username-label,#password-label{
  margin-left: 15px;
}

input[type="submit"]{
  margin-top:20px;
  border: none;
  background-color: white;
  border-radius: 10px;
  width: 8vw;
  height: 5vh;
  background: #2466f7;
  color: white;
}

a{
  text-decoration: none;    
}

a:hover{
  text-decoration: underline;
}

.page{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 70vh;
  width: 80vw;
  background: #000;

  background-color: rgba(245, 231, 231, 0.8);
}

.all{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 20px;
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}


.form-user{
  border-radius: 10px;
  border: none;
  outline: 10px;
  padding: 8px;
}

.scroll{
  position: absolute;
  top: 60px;

  display: flex;
  flex-direction: column;
  gap: 20px;


  width: 79vw;
  height: 50vh;

  overflow:auto;

  margin-top: 20px;
}

.table{
  position: absolute;
  top: 20px;
  left: 90px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 75vw;
  gap: 70px;
}

.title-item{
  display: flex;
  justify-content: center;
  width: 5vw;
}

.submit{
  position: relative;
  bottom: 20px;
}


.user-main{
  position: absolute;
  top: -80px;
  right: 0px;
}

.user-data{
  display: flex;
  justify-content: center;
  width: 70vw;
  background: #f7e0e0;
  border-radius: 20px;
  margin-left: 50px;
}

.select-user{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.item{
  display: flex;
  width: 70vw;
  align-items:center;
  justify-content: center;
}

.pressed{
  background: #0751f1;
}



/**/
.data-colab{
  display: flex;
  justify-content: space-between;
  width: 25vw;
  margin: 10px;
}

.colab-container{
  display: flex;
  flex-direction: column;
  align-items: left ;
  width: 30vw;
  gap: 10px;
}

.description{
  height:10vh;
  width: 170px;
  resize: none;
}
.time{
  position: absolute;
  display: flex;
  align-items: center;
  width: 17px;
  right: 330px;
  gap: 4px;
}

.time-box{
  width: 15px;
}
.send-data{
  display: flex;
  flex-direction: column;
  align-items: center;
}



