html {
  background-image: url(/images/background-GRINF.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html::-webkit-scrollbar {
  -webkit-appearance: none;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(245, 231, 231, 0.8);

  height: 60vh;
  width: 30vw;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 20vw;
}

.data {
  width: 15vw;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#password,
#username,
#new_password {
  padding: 8px 20px;
  margin: 15px 0;
  border-radius: 20px;
  outline: none;
  border: none;
  height: 5vh;
  width: 100%;
  background: #fffefe;
}

#username-label,
#password-label {
  margin-left: 15px;
}

.log-in-button {
  margin-top: 20px;
  border: none;
  background-color: white;
  border-radius: 10px;
  width: 8vw;
  height: 5vh;
  background: #2466f7;
  color: white;
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 90vh;
  width: 80vw;
  background: #000;

  background-color: rgba(245, 231, 231, 0.8);
}

.all {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.form-user {
  border-radius: 10px;
  border: none;
  outline: 10px;
  padding: 8px;
}

.scroll {
  position: absolute;
  top: 60px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 79vw;
  height: 70vh;

  overflow: auto;

  margin-top: 60px;
}

.scroll::-webkit-scrollbar {
  -webkit-appearance: none;
}

.scroll::-webkit-scrollbar:vertical {
  width: 10px;
}

.scroll::-webkit-scrollbar-button:increment,
.scroll::-webkit-scrollbar-button {
  display: none;
}

.scroll::-webkit-scrollbar:horizontal {
  height: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.scroll::-webkit-scrollbar-track {
  border-radius: 10px;
}

.table {
  position: absolute;
  top: 70px;
  left: -10px;

  display: flex;
  justify-content: right;
  align-items: center;

  width: 75vw;
  gap: 84px;
}

.title-item {
  display: flex;
  justify-content: center;
  width: 3vw;
}

.submit {
  position: relative;
  bottom: 20px;
}

/**/
.user-main {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0px;
  right: -125px;
  width: 120px;
  background: #ffffff;
  border: 1px solid;
  box-shadow: 5px 5px rgba(94, 92, 92, 0.5);
}

.user-main p {
  margin: 8px;
}

.user-main input[type="button"] {
  margin: 8px 0;
}

/**/
.user-data {
  display: flex;
  justify-content: center;
  width: 73vw;
  background: #f7e0e0;
  border-radius: 20px;
  margin-left: 50px;
}

.item {
  display: flex;
  width: 70vw;
  align-items: center;
  justify-content: center;
}

.pressed {
  background: #0751f1;
}

/**/
.data-colab {
  display: flex;
  justify-content: space-between;
  width: 25vw;
  margin: 10px;
}

.data-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 30vw;
  gap: 10px;
}

.description {
  height: 10vh;
  width: 170px;
  resize: none;
}
.time {
  position: absolute;
  display: flex;
  align-items: center;
  width: 17px;
  right: 330px;
  gap: 4px;
}

.time-box {
  width: 65px;
}
.send-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/**/

.box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 79vh;
  background: rgba(255, 255, 255, 0.8);
}

.change-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

input[type="text"] {
  text-transform: lowercase;
}

.user-save-data {
  border: none;
  background-color: white;
  border-radius: 10px;
  width: 8vw;
  height: 5vh;
  background: #2466f7;
  color: white;
}

.user-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.static {
  position: absolute;
  top: 30px;
  right: 450px;
  padding: 8px;
}

input[type="button"] {
  cursor: pointer;
}

select {
  cursor: pointer;
}

.button {
  display: inline-block;
  padding: 10px 25px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {
  background-color: #274585;
}

.button:active {
  background-color: #2466f7;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.select-user {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  box-shadow: 0 5px #999;
}

.select-user:hover {
  background-color: #274585;
}

.select-user:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.menu-button {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  border-color: #e7e7e7;
}

.menu-button:hover {
  background: #0f66c9;
  color: white;
}

.pressed {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  border-color: #e7e7e7;
  background: #2a5c96;
  color: white;
}

.exit {
  width: 5vw;
}

.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.generated {
  width: 11vw;
  padding-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
