html {
  background-image: url(/images/background-GRINF.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html::-webkit-scrollbar {
  -webkit-appearance: none;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(245, 231, 231, 0.8);
  padding-top: 80px;

  height: 60vh;
  width: 30vw;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 20vw;
}

.data {
  width: 15vw;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#password,
#username,
#new_password {
  padding: 8px 20px;
  margin: 15px 0;
  border-radius: 20px;
  outline: none;
  border: none;
  height: 5vh;
  width: 100%;
  background: #fffefe;
}

#username-label,
#password-label {
  margin-left: 15px;
}

.log-in-button {
  margin-top: 20px;
  border: none;
  background-color: white;
  border-radius: 10px;
  width: 8vw;
  height: 5vh;
  background: #2466f7;
  color: white;
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 90vh;
  width: 80vw;
  background: #000;

  background-color: rgba(245, 231, 231, 0.8);
}

.all {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 90%;
  gap: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.form-user {
  border-radius: 10px;
  border: none;
  outline: 10px;
  padding: 8px;
}

.scroll {
  position: absolute;
  top: 60px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 79vw;
  height: 70vh;

  overflow: auto;

  margin-top: 60px;
}

.scroll::-webkit-scrollbar {
  -webkit-appearance: none;
}

.scroll::-webkit-scrollbar:vertical {
  width: 10px;
}

.scroll::-webkit-scrollbar-button:increment,
.scroll::-webkit-scrollbar-button {
  display: none;
}

.scroll::-webkit-scrollbar:horizontal {
  height: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.scroll::-webkit-scrollbar-track {
  border-radius: 10px;
}

.table {
  position: absolute;
  top: 70px;
  left: -10px;

  display: flex;
  justify-content: right;
  align-items: center;

  width: 75vw;
  gap: 84px;
}

.title-item {
  display: flex;
  justify-content: center;
  width: 3vw;
}

.submit {
  position: relative;
  bottom: 20px;
}

/**/
.user-main {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0px;
  right: -125px;
  width: 120px;
  background: #ffffff;
  border: 1px solid;
  box-shadow: 5px 5px rgba(94, 92, 92, 0.5);
}

.user-main p {
  margin: 8px;
}

.user-main input[type="button"] {
  margin: 8px 0;
}

/**/
.user-data {
  display: flex;
  justify-content: center;
  width: 73vw;
  background: #f7e0e0;
  border-radius: 20px;
  margin-left: 50px;
}

.item {
  display: flex;
  width: 70vw;
  align-items: center;
  justify-content: center;
}

.pressed {
  background: #0751f1;
}

/**/
.data-colab {
  display: flex;
  justify-content: space-between;
  width: 25vw;
  margin: 10px;
}

.data-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 30vw;
  gap: 10px;
}

.description {
  height: 10vh;
  width: 170px;
  resize: none;
}
.time {
  position: absolute;
  display: flex;
  align-items: center;
  width: 17px;
  right: 330px;
  gap: 4px;
}

.time-box {
  width: 65px;
}
.send-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/**/

.box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 79vh;
  background: rgba(255, 255, 255, 0.8);
}

.change-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

input[type="text"] {
  text-transform: lowercase;
}

.user-save-data {
  border: none;
  background-color: white;
  border-radius: 10px;
  width: 8vw;
  height: 5vh;
  background: #2466f7;
  color: white;
}

.user-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.static {
  position: absolute;
  top: 30px;
  right: 450px;
  padding: 8px;
}

input[type="button"] {
  cursor: pointer;
}

select {
  cursor: pointer;
}

.button {
  display: inline-block;
  padding: 10px 25px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  text-decoration: None;
}

.button:hover {
  background-color: #274585;
  text-decoration: None;
}

.button:active {
  background-color: #2466f7;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  text-decoration: None;
}

.select-user {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  box-shadow: 0 5px #999;
}

.select-user:hover {
  background-color: #274585;
}

.select-user:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.menu-button {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  border-color: #e7e7e7;
}

.menu-button:hover {
  background: #0f66c9;
  color: white;
}

.pressed {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  border-color: #e7e7e7;
  background: #2a5c96;
  color: white;
}

.exit {
  width: 5vw;
}

.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.generated {
  width: 11vw;
  padding-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order {
  display: flex;
  flex-direction: row;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Catamaran:400,800");
.error-container {
  text-align: center;
  font-size: 180px;
  font-family: "Catamaran", sans-serif;
  font-weight: 800;
  margin: 20px 15px;
}
.error-container > span {
  display: inline-block;
  line-height: 0.7;
  position: relative;
  color: #ffb485;
}
.error-container > span > span {
  display: inline-block;
  position: relative;
}
.error-container > span:nth-of-type(1) {
  perspective: 1000px;
  perspective-origin: 500% 50%;
  color: #f0e395;
}
.error-container > span:nth-of-type(1) > span {
  transform-origin: 50% 100% 0px;
  transform: rotateX(0);
  animation: easyoutelastic 8s infinite;
}

.error-container > span:nth-of-type(3) {
  perspective: none;
  perspective-origin: 50% 50%;
  color: #d15c95;
}
.error-container > span:nth-of-type(3) > span {
  transform-origin: 100% 100% 0px;
  transform: rotate(0deg);
  animation: rotatedrop 8s infinite;
}
@keyframes easyoutelastic {
  0% {
    transform: rotateX(0);
  }
  9% {
    transform: rotateX(210deg);
  }
  13% {
    transform: rotateX(150deg);
  }
  16% {
    transform: rotateX(200deg);
  }
  18% {
    transform: rotateX(170deg);
  }
  20% {
    transform: rotateX(180deg);
  }
  60% {
    transform: rotateX(180deg);
  }
  80% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(0);
  }
}

@keyframes rotatedrop {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(30deg);
  }
  15% {
    transform: rotate(90deg);
  }
  70% {
    transform: rotate(90deg);
  }
  80% {
    transform: rotate(0);
  }
  100% {
    transform: rotateX(0);
  }
}

.title-error {
  text-align: center;
  margin: 30px 15px;
  color: white;
  font-size: xx-large;
}
.zoom-area {
  max-width: 490px;
  margin: 30px auto 30px;
  font-size: 19px;
  text-align: center;
}
.link-container {
  display: flex;
  text-align: center;
  justify-content: center;
}
a.more-link {
  text-transform: uppercase;
  font-size: 13px;
  background-color: #bbb;
  padding: 10px 15px;
  border-radius: 0;
  color: #fff;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 1.5;
  text-decoration: none;
  margin-top: 50px;
  letter-spacing: 1px;
}

.image {
  position: absolute;
  top: 15px;
}

img {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
